<div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">

<h1>Modification de la campagne</h1>

<%= form_tag "/my_app/#{@contact.id}", method: "patch" do %>
  <p><strong>Nom du développeur*</strong></p>
  <select name="dev"><% @categories.each do |category| %>
  <option style="width:480px;height:25px" value="<%= category.name %>"><%= category.name %></option><% end %></select>
  <p><strong>Campagne*</strong></p>
  <input type="text" name="compagne" style="width:500px;;height:25px" value="<%= @contact.compagne %>" />
  <p><strong>Période*</strong></p>
  <input type="text" name="periode" style="width:500px;;height:25px" value="<%= @contact.periode %>" />
  <p><strong>Coût de la campagne*</strong></p>
  <input type="text" name="cout" style="width:500px;;height:25px" value="<%= @contact.cout %>"/>
  <p><strong>Nombre de contact*</strong></p>
  <input type="text" name="contact" style="width:500px;;height:25px" value="<%= @contact.contact %>" />
  <p><strong>Nombre de devis*</strong></p>
  <input type="text" name="devis" style="width:500px;;height:25px" value="<%= @contact.devis %>"/>
  <p><strong>CA généré*</strong></p>
  <input type="text" name="ca" style="width:500px;;height:25px" value="<%= @contact.ca %>" />
  <p><strong>Commentaires*</strong></p>
  <input type="text" name="commentaires" style="width:500px;height:150px" value="<%= @contact.commentaires %>" />
  <br />
  <br />
  <input type="submit" style="" value="Valider la modification" />  <a href="/my_app/"><input type="submit" style="" value="Retourner à l'index" /></a>
   <a href="/my_app/new/"><input type="submit" style="" value="Nouvelle campagne" /></a>

<% end %>